div#container
{
   width: 500px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: transparent;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
#wb_Form1
{
   background-color: #200284;
   background-image: none;
   border: 0px dashed #FFFFFF;
}
#Editbox222
{
   border: 1px solid #FFFFFF;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color :#1E1E1E;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 16px;
   line-height: 45px;
   padding: 4px 4px 4px 50px;
   margin: 0;
   text-align: left;
}
#Editbox222::placeholder
{
   color: #222222;
   opacity: 1;
}
#Editbox222::-ms-input-placeholder
{
   color: #222222;
}
#Editbox111
{
   border: 1px solid #FFFFFF;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color :#1E1E1E;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 16px;
   line-height: 45px;
   padding: 4px 4px 4px 50px;
   margin: 0;
   text-align: left;
}
#Editbox111::placeholder
{
   color: #222222;
   opacity: 1;
}
#Editbox111::-ms-input-placeholder
{
   color: #222222;
}
#wb_Image50
{
   vertical-align: top;
}
#Image50
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image53
{
   vertical-align: top;
}
#Image53
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text138 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text138 div
{
   text-align: center;
}
#Button111
{
   border: 0px solid #5F1EDA;
   border-radius: 50px;
   background-color: #5313D4;
   background: linear-gradient(to top, #5313D4 0%, #914CF1 100%);
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: bold;
   font-size: 16px;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Text43 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text43 div
{
   text-align: center;
}
#wb_Text47 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text47 div
{
   text-align: center;
}
#wb_uid3
{
   position: absolute;
   left: -9999px;
}
#wb_uid2
{
   color: #FFFFFF;
   font-family: "Montserrat";
   font-size: 21px;
   letter-spacing: 0.07px;
   line-height: 29px;
}
#TM-5ZBZBN2
{
   display: none;
   visibility: hidden;
}
#wb_uid1
{
   color: #FFFFFF;
   font-family: "Montserrat";
   font-size: 16px;
   letter-spacing: 0.07px;
   line-height: 24px;
}
#wb_Text43
{
   position: absolute;
   left: 5px;
   top: 88px;
   width: 490px;
   height: 48px;
   text-align: center;
   z-index: 6;
}
#wb_uid0
{
   color: #DCDCDC;
   font-family: "Montserrat";
   font-size: 11px;
   letter-spacing: 0.07px;
   line-height: 13px;
}
#wb_Text138
{
   position: absolute;
   left: 16px;
   top: 297px;
   width: 467px;
   height: 27px;
   text-align: center;
   z-index: 4;
}
#wb_Text47
{
   position: absolute;
   left: 11px;
   top: 56px;
   width: 479px;
   height: 26px;
   text-align: center;
   z-index: 7;
}
#Editbox222
{
   position: absolute;
   left: 51px;
   top: 157px;
   width: 342px;
   height: 45px;
   z-index: 0;
}
#wb_Image53
{
   position: absolute;
   left: 72px;
   top: 247px;
   width: 12px;
   height: 20px;
   z-index: 3;
}
#wb_Image50
{
   position: absolute;
   left: 69px;
   top: 174px;
   width: 20px;
   height: 20px;
   z-index: 2;
}
#Editbox111
{
   position: absolute;
   left: 51px;
   top: 229px;
   width: 342px;
   height: 45px;
   z-index: 1;
}
#Button111
{
   position: absolute;
   left: 130px;
   top: 342px;
   width: 240px;
   height: 75px;
   z-index: 5;
   -webkit-appearance: none!important;
   cursor: pointer;
}
#wb_Form1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 500px;
   height: 480px;
   z-index: 8;
}
@font-face {
   font-family: "Montserrat";
   src: url('../font/Montserrat-Bold.woff') format('woff'), url('../font/Montserrat-Bold.ttf') format('truetype'), url('../font/Montserrat-Bold.eot') format('embedded-opentype'); font-weight: bold;
}
